<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
    <link rel="icon" href="../images/Bank.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" />
    
</head>
<body>
    
<div class="header">

    <div class="nav">
        <div class="col_1">

            <a href="#"><img onclick="window.location.href='/Home'" src="../images/logo.png" alt="The Sparks Foundation" width="85px" height="85px" style="margin: 15px;"></a>

        </div>  
        <div class="col_2">

        <nav class="nav_1">

            <button id="num1" onclick="window.location.href='/Home'" class="side_btn">Home</button>
            <button onclick="window.location.href='/Customers'" class="side_btn">Customers</button>
            <button onclick="window.location.href='/Transactions'" class="side_btn">Transaction</button>
        </nav>

    </div>
    </div>
    
</div>

    
</body>
</html>