<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\public\css\style.css">
</head>
<body>
    
<div class="header">

    <div class="nav">
        <div class="col_1">

            <a href="#"><img src="..\public/images/logo.png" alt="The Sparks Foundation" width="85px" height="85px" style="margin: 15px;"></a>

        </div>  
        <div class="col_2">

        <nav class="nav_1">

            <button class="side_btn">Home</button>
            <button class="side_btn">Customers</button>
            <button class="side_btn">Transaction</button>
        </nav>

    </div>
    </div>

    <div class="row_2">

        <div class="text_1">
           <text class="tex"></text> <h1>The Sparks Foundation <br>Basic Banking System</h1>
            <p>Now you can securly transfer money from your account to any other 
                <br> account within
                 seconds. <br>
                This is the era of digital banking.
            </p>
            </text>

            <button class="start_btn">Get Started -> </button>

        </div>

        <div class="pic">

            <img src="..\public/images/qcash.gif" alt="bank" width="100%" style="float:right;">

        </div>

    </div>



</div>

    
</body>
</html>