<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>

    <div class="header">

        <%- include('partials/nav.ejs') %>
            <div class="row_2">

                <div class="text_1">
                 <text class="tex"></text>
                    <h1>The Sparks Foundation <br>Basic Banking System</h1>
                    <p>Now you can securly transfer money from your account to any other
                        <br> account withinseconds. <br>
                        This is the era of digital banking.
                    </p>
                 </text>

                    <button class="start_btn" onclick="window.location.href='/Customers'">Get Started -> </button>

                </div>

                <div class="pic">

                    <img src="../images/qcash.gif" alt="bank" width="100%" style="float:right;">

                </div>

            </div>



    </div>


</body>

</html>